.header {
    font-size: 30px;
    display: flex;
    background-color: white;
    color: black;
    flex-wrap: wrap;
    justify-content: center;

}

.header1 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
}

.bigbox {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: 150px;
    margin-left: 5px;
    margin-bottom: 25px;
}

.photo {
    border-radius: 8px;
    width: 100px;
    height: 150px;
}

.title {
    color: black;
    font-size: 10px;
}

.main {
    position: unset;
    text-decoration: none;
}
