.body {
    background-color: rgb(101, 99, 99);
}
.mother {
    max-width: 750px;
    margin: 0 auto;
    background-color: rgb(101, 99, 99);
}

.headercontainer {
    font-size: 25px;
    display: flex;
    color: black;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
  font-size: 100%;
}

.header1 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;    
}

.bigbox {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    height: 200px;
    margin-left: 5px;
    margin-bottom: 30px;
}

.photo {
    border-radius: 8px;
    width: 150px;
    height: 200px;
}

.title {
    color: black;
    font-size: 15px;
}

.main {
    position: unset;
    text-decoration: none;
}
