.body {
    background-color: rgb(101, 99, 99);
}
.mother {
    max-width: 800px;
    margin: 0 auto;
}

.headercontainer {
    font-size: 30px;
    display: flex;
    color: black;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.header {
  font-size: 80%;
}

.header1 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.bigbox {
    background-color: rgb(101, 99, 99);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-top: 10px;
    margin: 0 auto;
    margin-right: auto;
}
 
.photo {
    border-radius: 8px;
    max-width: 100px;
}

.title {
    color: black;
    font-size: 13px;
    margin-bottom: 10px;
}

.main {
    position: unset;
    text-decoration: none;
}

.mainpost {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
}

.rating {
    margin-top: 20px;
}

.mainpost {
    display: flex;
    flex-wrap: wrap;
}

.image {
    padding: 30px 40px;
}

.image2 {
    border-radius: 5px;
}

.label {
    margin: 0 auto;
    padding: 20px;
}

.line1 {
    height: 2px;
    width: auto ;
    border-radius: 10px;
    background-color: black;
}

.line {
    height: 2px;
    width: auto ;
    background-color: black;
    margin-bottom: 20px;
    border-radius: 10px;
}

.name {
    width: 280px;
    margin-top: 20px;
}

.NAME {
    font-size: 20px;
}